<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello </title>
</head>
<body>
    <p>delete : </p>
    <form action="" method="post">
        <input type="text" name="name">
      
        <input type="submit">
    </form>

</body>
</html>