<!DOCTYPE html>
<html lang="en">
<head>

    <title>crud</title>
</head>
<body>
    
    <form action="" method="post">
        <input type="text" name="name">
        <input type="number" name="age">
        <input type="submit">
    </form>
    
</body>
</html>